# Backend host configuration
export BACKEND_PROTO="http"
export BACKEND_HOST="localhost"
export BACKEND_PORT=8000
export BACKEND_URL=$BACKEND_PROTO://$BACKEND_HOST:$BACKEND_PORT

# Frontend host configuration
export FRONTEND_PROTO="http"
export FRONTEND_HOST="localhost"
export FRONTEND_PORT=5173
export FRONTEND_URL=$FRONTEND_PROTO://$FRONTEND_HOST:$FRONTEND_PORT

export FRONTEND_PORT_E2E=4173
export FRONTEND_URL_E2E=$FRONTEND_PROTO://$FRONTEND_HOST:$FRONTEND_PORT_E2E
